#tv-channels-list,
#films-list {
  display: flex;
  transition: all 0.35s;
}

#channels,
#films {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 400px;
  padding-left: 100px;
}

.list-title {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 10px;
}
